{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Freenet - Desarrollo de ideas imnovadoras">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>{% block title %}base{% endblock title %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon/favicon.png' %}">

    <!-- Core Stylesheet -->
    {% comment %} <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
{% if data_page_personalization %}
{% for page in data_page_personalization %}
<body style="background-image:url(/{{ page.background_image }}); background-color:{{ page.background_color }}; background-repeat:{{ page.background_repeat }};">

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>

    <!-- ***** Top Search Area Start ***** -->
    <div class="top-search-area">
        <!-- Search Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close Button -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <!-- Form -->
                        <form action="{% url 'search_services' %}" method="post">
                            {% csrf_token %}
                            <input type="search" name="search" class="form-control" required="" placeholder="Buscar Servicio...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ***** Top Search Area End ***** -->

    <!-- ***** Header Area Start ***** -->
    {% block header %}
    
    <header class="header-area">
        <!--Navbar-->
        
    {% block floatButons %}

    
    
    {% comment %} <style>
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px -20px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky .button:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    font-size:10px;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:none;
}
</style> {% endcomment %}

{% comment %} <div class="sticky-container">
    <ul class="sticky">
        <li class="button">
            <img src="https://img.icons8.com/cotton/2x/facebook.png" width="32" height="32">
            <p><a href="#" target="_blank"><br>Facebook</a></p>
        </li>
        <li class="button">
            <img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-01-512.png" width="32" height="32">
            <p><a href="https://wa.me/573107827073?text=Me%20interesa" target="_blank"><br>Whatsapp</a></p>
        </li>
        <li class="button">
            <img src="http://dientezfelices.org/wp-content/uploads/2018/03/icono-telefono.png" width="32" height="32">
            <p><a href="/contact" target=""><br>Contacto</a></p>
        </li>
        <li class="button">
            
            <p data-toggle="modal" data-target="#myModal"><a href="/appointment" class=""><br><img src="http://www.prooptics.com.co/Images/Icon_Appoitment.png" width="32" height="32">Agendar Cita<br></a></p>
        </li>
    </ul>
</div> {% endcomment %}
        
{% endblock floatButons %}
            
        
<!--/.Navbar-->
        <!-- Main Header Start -->
        <div class="main-header-area">
        {% if data_menu %}
                {% for menu in data_menu %}
            <div class="classy-nav-container breakpoint-off" style="background-color:{{ menu.color_background }};">
                <!-- Classy Menu -->
                
                <nav class="classy-navbar justify-content-between" id="uzaNav" >

                    <!-- Logo -->
                    <a class="nav-brand" href=""><img src="/{{ menu.logo }}" width="{{ menu.width_image }}"> </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"><img src="{% static 'img/logo/logo.png' %}" width="20px"> </span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class=""><a href="/" style="color: {{ menu.color_text_menu }};"><img src="{% static 'img/icons-menu/house.png' %}" width="20px"> {{ menu.item1 }}</a></li>
                                <li ><a href="#services" style="color: {{ menu.color_text_menu }};"><img src="{% static 'img/icons-menu/services.png' %}" width="20px"> {{ menu.item2 }}</a>
                                    <ul class="dropdown" style="background-color:{{ menu.color_background_submenu }};">
                                        {% if statement_services_all %} {% for services_all in statement_services_all %}
                                        <li><a style="color: {{ menu.color_text_submenu }};" href="/services?id={{ services_all.id }}&name={{ services_all.name_service }}"><img src="/{{ services_all.image_service }}" width="10%"> {{ services_all.name_service }}</a></li>
                                        {% endfor %} {% else %}
                                        <li><a style="color: {{ menu.color_text_menu }};" href="#">no hay servicios</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a style="color: {{ menu.color_text_menu }};" href="/about"><img src="{% static 'img/icons-menu/about.png' %}" width="20px"> {{ menu.item3 }}</a></li>
                                <li><a style="color: {{ menu.color_text_menu }};" href="#team"><img src="{% static 'img/icons-menu/team.png' %}" width="20px"> {{ menu.item4 }}</a></li>
                                <li><a style="color: {{ menu.color_text_menu }};" href="/contact"><img src="{% static 'img/icons-menu/contact.png' %}" width="20px"> {{ menu.item5 }}</a></li>
                                {% comment %} <li><a style="color: dodgerblue;" href="/ask_frecuent">FAQ</a></li> {% endcomment %}
                            </ul>

                            <!-- Get A Quote -->
                            <div class="get-a-quote ml-4 mr-3">
                                <a href="/software_contable" class="btn uza-btn item6" style="background-color:{{ menu.background_color_item6 }};">{{ menu.item6 }}</a>
                                <style>
                                    .item6:hover{
                                        background-color:{{ menu.background_color_item6_hover }} !important;
                                    }
                                </style>
                            </div>

                            <!-- Login / Register -->

                            <!-- Search Icon -->

                            <div class="search-icon" data-toggle="modal" data-target="#searchModal" placeholder="Buscar Servicio">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
                

            </div>
            {% endfor %}
                {% else %}
                    <nav class="classy-navbar justify-content-between" id="uzaNav" style="background-color:{{ menu.color_background }};">

                    <!-- Logo -->
                    <a class="nav-brand" href=""><img src="{% static 'img/logo/logo.png' %}" width="90%"> </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"><img src="{% static 'img/logo/logo.png' %}" width="20px"> </span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class=""><a href="/" style="color: {{ menu.color_text_menu }};"><img src="{% static 'img/icons-menu/house.png' %}" width="20px"> Inicio</a></li>
                                <li ><a href="#services" style="color: {{ menu.color_text_menu }};;"><img src="{% static 'img/icons-menu/services.png' %}" width="20px"> servicios</a>
                                    <ul class="dropdown">
                                        {% if statement_services_all %} {% for services_all in statement_services_all %}
                                        <li><a style="color: {{ menu.color_text_submenu }};;" href="/services?id={{ services_all.id }}&name={{ services_all.name_service }}"><img src="/{{ services_all.image_service }}" width="10%"> {{ services_all.name_service }}</a></li>
                                        {% endfor %} {% else %}
                                        <li><a style="color: {{ menu.color_text_menu }};;" href="#">no hay servicios</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a style="color: {{ menu.color_text_menu }};;" href="/about"><img src="{% static 'img/icons-menu/about.png' %}" width="20px"> Nosotros</a></li>
                                <li><a style="color: {{ menu.color_text_menu }};;" href="#team"><img src="{% static 'img/icons-menu/team.png' %}" width="20px"> Team</a></li>
                                <li><a style="color: {{ menu.color_text_menu }};;" href="/contact"><img src="{% static 'img/icons-menu/contact.png' %}" width="20px"> Contacto</a></li>
                                {% comment %} <li><a style="color: dodgerblue;" href="/ask_frecuent">FAQ</a></li> {% endcomment %}
                            </ul>

                            <!-- Get A Quote -->
                            <div class="get-a-quote ml-4 mr-3">
                                <a href="/software_contable" class="btn uza-btn">Software contable</a>
                            </div>

                            <!-- Login / Register -->

                            <!-- Search Icon -->

                            <div class="search-icon" data-toggle="modal" data-target="#searchModal" placeholder="Buscar Servicio">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
                {% endif %}
        </div>

        

    </header>
    
    {% endblock header %}
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Welcome Area Start ***** -->
    {% block seccion1 %}
    
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">

            <!-- Single Welcome Slide -->
            {% if data_personalization %}
            {% for data in data_personalization %}
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="./img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100" style="background-image:url('/{{ data.image_fondo }}'); background-position:center; repeat: no repeat;">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text" style="background-color: {{ data.background_color_text }}; border-radius: {{ data.border_radius_background }}px;">
                                    <h2 data-animation="fadeInUp" data-delay="100ms" style="color:{{ data.color_title }}; font-family:{{ data.font_type}}; font-size:{{ data.font_size}}px;"> <br><span style="color:{{ data.color_title }};">{{ data.title }}</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms" style="color:{{ data.color_description }};font-family:{{ data.font_type}};font-size:{{ data.font_size}}px;">{{ data.description }}</h5>
                                    {% comment %} <a href="#" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Explorar</a> {% endcomment %}
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            {% comment %} <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="/{{ data.image_transition }}" width="50" height="300" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="./img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100" style="background-position:center; repeat: no repeat;">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms"> <br><span>No hay titulo</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">no hay descripcion</h5>
                                    {% comment %} <a href="#" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Explorar</a> {% endcomment %}
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="./img/bg-img/1.png" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% comment %} fin del modal citas {% endcomment %}

            <!-- Single Welcome Slide -->
            

            <!-- Single Welcome Slide -->
            

        </div>
    </section>
    {% endblock seccion1 %}
    <!-- ***** Welcome Area End ***** -->
    {% block seccion2 %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="background_color:;">
                <br><br><br><br><br>
            </div>
        </div>
    </div>
    <section class="uza-about-us-area">
        <div class="container">
            <div class="row align-items-center">

                <!-- About Thumbnail -->
                <div class="col-12 col-md-6">
                    <div class="about-us-thumbnail mb-80">
                        {% block imgSeccion2 %}<img src="{% static './img/bg-img/2.jpg' %}" alt="">{% endblock imgSeccion2 %}
                        <!-- Video Area -->
                        <div class="uza-video-area hi-icon-effect-8">
                            {% block linkVideo %}<a href="https://www.youtube.com/watch?v=9Y1oHw2cPxs" autoplay="" class="hi-icon video-play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>{% endblock linkVideo %}
                        </div>
                    </div>
                </div>

                <!-- About Us Content -->
                <div class="col-12 col-md-6">
                    <div class="about-us-content mb-80">
                        {% block titleSeccion2 %}
                        <h2>We're a Agency Team &amp; Digital Marketing</h2>{% endblock titleSeccion2 %} {% block paragrafoSeccion2 %}
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna
                            liquyam erat.</p>
                        {% endblock paragrafoSeccion2 %} {% block linkVideoSeccion2 %}{% endblock linkVideoSeccion2 %}
                    </div>
                </div>
            </div>
        </div>

        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="{% static './img/core-img/curve-2.png' %}" alt="">
        </div>
    </section>
    {% endblock seccion2 %}
    <!-- ***** About Us Area Start ***** -->
    <!-- ***** About Us Area End ***** -->

    <!-- ***** Services Area Start ***** -->
    <a name="services"></a>
    {% block seccion3 %}

    <section class="uza-services-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center"><br>
                        <h2 style="font-size:{{ page.font_size }}; font-family:{{ page.font_family }}; text_transform:{{ page.text_transform }}; padding:{{ page.padding_text }}; color:{{ page.color_text }}; border:{{ page.border }}; border_radius:{{ page.border_radius }}; text_aling:{{ page.text_aling }}; float:{{ page.float_text }};">{% block title_1 %}{{ page.title_1 }}{% endblock title_1 %}</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Service Area -->


                <!-- Single Service Area -->
                {% if statement_services_all %} {% for services in statement_services_all %}
                <div class="col-12 col-lg-2" style="background-color:{{ services.color_background }}; border:{{ services.border }}; border-radius:{{ services.border_radius }};">
                    <div class="single-service-area mb-80" style="height: 150px; width: 100%;">
                        <!-- Service Icon -->
                        <a href="/services?id={{ services.id }}&name={{ services.name_service }}">
                            <div class="service-icon">
                                <img src="{{ services.image_service }}" alt="" width="{{ services.width_image }}" height="{{ services.height_image }}" style="border-radius:10%; padding:20px; margin-top:20px;">
                            </div>
                            <h5 style="text-transform:{{ services.text_transform }}; color:{{ services.color_text }}; font-size:{{ services.font_size }}; padding:{{ services.padding }}; font-family:{{ services.font_family }};">{{ services.name_service }}</h5>
                            <p>{{ services.description_services }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %} {% else %}
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_piechart"></i>
                        </div>
                        <h5>No hay servicios</h5>
                        <p>ahora</p>
                    </div>
                </div>
                {% endif %}
                
                


                <!-- Single Service Area -->

            </div>
        </div>
    </section>
    {% endblock seccion3 %}

    {% block seccion4 %}

    <section class="uza-services-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center"><br>
                        <h2 style="font-size:{{ page.font_size }}; font-family:{{ page.font_family }}; text_transform:{{ page.text_transform }}; padding:{{ page.padding_text }}; color:{{ page.color_text }}; border:{{ page.border }}; border_radius:{{ page.border_radius }}; text_aling:{{ page.text_aling }}; float:{{ page.float_text }};">{% block title_2 %}{{ page.title_2 }}{% endblock title_2 %}</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Service Area -->


                <!-- Single Service Area -->
                {% if data_team %} {% for team in data_team %}
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <a href="/services?id={{ team.id }}">
                            <div class="service-icon">
                                <img src="{{ team.image }}" alt="" width="100%" style="border-radius:50%;">
                            </div>
                            <h5>{{ team.name }}</h5>
                            <p>{{ team.description }}</p>
                            <p style="color: dodgerblue">{{ team.profeccion }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %} {% else %}
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_piechart"></i>
                        </div>
                        <h5>No tenemos Team</h5>
                    
                    </div>
                </div>
                {% endif %}



                <!-- Single Service Area -->

            </div>
        </div>
    </section>
    {% endblock seccion4 %}
    <!-- ***** Services Area End ***** -->
    {% block seccion5 %}
    <section class="uza-portfolio-area section-padding-80">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Our Portfolio</h2>
                        <p>We stay on top of our industry by being experts in yours.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!-- Portfolio Slides -->
                <div class="portfolio-sildes owl-carousel">

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="./img/bg-img/3.jpg" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Digital Marketing</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="./img/bg-img/4.jpg" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Digital Marketing</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="./img/bg-img/5.jpg" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Digital Marketing</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="./img/bg-img/6.jpg" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Digital Marketing</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="./img/bg-img/5.jpg" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Digital Marketing</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="./img/bg-img/6.jpg" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Digital Marketing</h4>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Client Feedback Area Start -->
        <div class="clients-feedback-area mt-80 section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Testimonial Slides -->
                        <div class="testimonial-slides owl-carousel">

                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide d-flex align-items-center">
                                <!-- Testimonial Thumbnail -->
                                <div class="testimonial-thumbnail">
                                    <img src="./img/bg-img/7.jpg" alt="">
                                </div>
                                <!-- Testimonial Content -->
                                <div class="testimonial-content">
                                    <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and
                                        profitable.”</h4>
                                    <!-- Ratings -->
                                    <div class="ratings">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <!-- Author Info -->
                                    <div class="author-info">
                                        <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                    </div>
                                    <!-- Quote Icon -->
                                    <div class="quote-icon"><img src="img/core-img/quote.png" alt=""></div>
                                </div>
                            </div>

                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide d-flex align-items-center">
                                <!-- Testimonial Thumbnail -->
                                <div class="testimonial-thumbnail">
                                    <img src="./img/bg-img/23.jpg" alt="">
                                </div>
                                <!-- Testimonial Content -->
                                <div class="testimonial-content">
                                    <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and
                                        profitable.”</h4>
                                    <!-- Ratings -->
                                    <div class="ratings">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <!-- Author Info -->
                                    <div class="author-info">
                                        <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                    </div>
                                    <!-- Quote Icon -->
                                    <div class="quote-icon"><img src="img/core-img/quote.png" alt=""></div>
                                </div>
                            </div>

                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide d-flex align-items-center">
                                <!-- Testimonial Thumbnail -->
                                <div class="testimonial-thumbnail">
                                    <img src="./img/bg-img/24.jpg" alt="">
                                </div>
                                <!-- Testimonial Content -->
                                <div class="testimonial-content">
                                    <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and
                                        profitable.”</h4>
                                    <!-- Ratings -->
                                    <div class="ratings">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <!-- Author Info -->
                                    <div class="author-info">
                                        <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                    </div>
                                    <!-- Quote Icon -->
                                    <div class="quote-icon"><img src="img/core-img/quote.png" alt=""></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Client Feedback Area End -->

        <!-- Border -->
        <div class="container">
            <div class="border-line"></div>
        </div>

        <!-- Background Curve -->
        <div class="portfolio-bg-curve">
            <img src="./img/core-img/curve-3.png" alt="">
        </div>
    </section>
    {% endblock seccion5 %}
    <!-- ***** Portfolio Area Start ***** -->

    <!-- ***** Portfolio Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    {% block seccion6 %}
    <section class="uza-blog-area">
        <!-- Background Curve -->
        <div class="blog-bg-curve">
            <img src="./img/core-img/curve-4.png" alt="">
        </div>

        <!-- CTA Area Start -->
        <div class="uza-cta-area section-padding-0-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-8">
                        <div class="cta-content mb-80">
                            <h2>Interested in working with us?</h2>
                            <h6>Hit the button below or give us a call!</h6>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="cta-content mb-80">
                            <div class="call-now-btn">
                                <a href="#"><span>Call us now:</span> (+65) 1234 5678</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CTA Area End -->

        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Our Latest Blogs</h2>
                        <p>Hit the button below or give us a call!</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Blog Post -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-post bg-img mb-80" style="background-image: url(./img/bg-img/8.jpg);">
                        <!-- Post Content -->
                        <div class="post-content">
                            <span class="post-date"><span>23</span> August, 2018</span>
                            <a href="#" class="post-title">SEO: The Movie By Ignite Visibility</a>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut</p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-post bg-img mb-80" style="background-image: url(./img/bg-img/9.jpg);">
                        <!-- Post Content -->
                        <div class="post-content">
                            <span class="post-date"><span>13</span> December, 2018</span>
                            <a href="#" class="post-title">What Curling Irons Are The Best Ones</a>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut</p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-post bg-img mb-80" style="background-image: url(./img/bg-img/10.jpg);">
                        <!-- Post Content -->
                        <div class="post-content">
                            <span class="post-date"><span>08</span> July, 2018</span>
                            <a href="#" class="post-title">Amazon REV Workshop: Road to Seattle</a>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut</p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% endblock seccion6 %}

    <!-- ***** Blog Area End ***** -->
    {% block seccion7 %}
    <section class="uza-newsletter-area">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <!-- Newsletter Content -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="nl-content mb-80">
                        <h2>Subscribe to our Newsletter</h2>
                        <p>Subscribe our newsletter gor get notification about new updates, etc...</p>
                    </div>
                </div>
                <!-- Newsletter Form -->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="nl-form mb-80">
                        <form action="#" method="post">
                            <input type="email" name="nl-email" value="" placeholder="Your Email">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Border Bottom -->
            <div class="border-line"></div>
        </div>
    </section>
    
    {% endblock seccion7 %}


    <!-- ***** Newsletter Area Start ***** -->
    {% block footer %}
    
    





    <!-- Footer -->
    {% if data_footer%}
    <section class="uza-newsletter-area" style="background-color:grey;">
        <div class="container" >
            <div class="row align-items-center justify-content-between">
                <!-- Newsletter Content -->
                <div class="col-12 col-md-12 col-lg-12">
                    <br><br><br><br>
                </div>
        </div>
    </section>
    {% for footer in data_footer %}
<footer class="page-footer font-small blue pt-4" style="background-color:{{ footer.color_background }};" >
    
    <!-- Footer Links -->
    <div class="container">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-0 mt-md-0 mt-3">

        </div>
        <div class="col-md-3 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase"></h5>
          <img src="{% static 'img/logo/logo.png' %}"><br><br>
          <p style="color:{{ footer.color_text }}; font-family:{{ footer.font_text }}; font-size:{{ footer.font_size }}px;"><img src="/{{ footer.image_schedule }}" style="width:20px; height:20px;"> Horario de Atencion: {{ footer.schedule }}</p>
          <p style="color:{{ footer.color_text }}; font-family:{{ footer.font_text }}; font-size:{{ footer.font_size }}px;"><img src="/{{ footer.image_email }}" style="width:20px; height:20px;"> Email: {{ footer.email }}</p>
        </div>
        <div class="col-md-5 mt-md-0 mt-3">
            <br>
          <center>
          <a href="{{ footer.url_facebook }}" target="_blank"><img src="/{{ footer.icon_facebook }}" width="15%" height="200;" style="padding:5px;"></a>
          <a href="{{ footer.url_instagram }}" target="_blank"><img src="/{{ footer.icon_instagram }}" width="15%" height="200;" style="padding:5px;"></a>
          <a href="{{ footer.url_whatsapp }}" target="_blank"><img src="/{{ footer.icon_whatsapp }}" width="15%" height="200;" style="padding:5px;"></a>
          <a href="{{ footer.url_youtube }}" target="_blank"><img src="/{{ footer.icon_youtube }}" width="15%" height="200:" style="padding:5px;"></a>
          </center>
          

        </div>
        <!-- Grid column -->
        <div class="col-md-3 mt-md-0 mt-3">

        <p style="color:{{ footer.color_text }}; font-family:{{ footer.font_text }}; font-size:{{ footer.font_size }}px;"><img src="/{{ footer.image_phone }}" style="width:20px; height:20px;"> Telefono: {{ footer.phone }}</p>
          <p style="color:{{ footer.color_text }}; font-family:{{ footer.font_text }}; font-size:{{ footer.font_size }}px;"><img src="/{{ footer.image_address }}" style="width:20px; height:20px;"> Direccion: {{ footer.address }}</p>
          <p style="color:{{ footer.color_text }}; font-family:{{ footer.font_text }}; font-size:{{ footer.font_size }}px;"><img src="/{{ footer.image_city }}" style="width:20px; height:20px;"> Ciudad: {{ footer.city }}</p>
          <p style="color:{{ footer.color_text }}; font-family:{{ footer.font_text }}; font-size:{{ footer.font_size }}px;"><img src="/{{ footer.image_country }}" style="width:20px; height:20px;"> Pais: {{ footer.country }}</p>
          <p style="color:{{ footer.color_text }}; font-family:{{ footer.font_text }}; font-size:{{ footer.font_size }}px;"><img src="/{{ footer.image_copy }}" style="width:20px; height:20px;"> {{ footer.copy }}</p>
          
          
        </div>
    </div>
        
    

    </div>
    
    
    

  </footer>
    {% endfor %}
    {% else %}
    <h4>no footer</h4>
  {% endif %}
  <!-- Footer -->
    {% endblock footer %}
    <!-- ***** Newsletter Area End ***** -->

    <!-- ***** Footer Area Start ***** -->

    <!-- ***** Footer Area End ***** -->

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="{% static 'js/uza.bundle.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/default-assets/active.js' %}"></script>

</body>
{% endfor %}
{% else %}
<h1>no hay page</h1>
{% endif %}

</html>

{% comment %} <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> {% endcomment %}