{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}freenet º About{% endblock title %}

{% block seccion1 %}
<br><br><br><br><br>
{% endblock seccion1 %}

{% block seccion2 %}
{% endblock seccion2 %}


    {% block seccion3 %}

    {% endblock seccion3 %}

    {% block seccion4 %}
    
    {% endblock seccion4 %}
    

    {% block seccion5 %}
    
    {% endblock seccion5 %}

    

    {% block seccion6 %}
    <section class="uza-blog-area">
        <!-- Background Curve -->
        

        <!-- CTA Area Start -->
        <div class="uza-cta-area section-padding-0-80">
            <div class="container">
                
            </div>
        </div>
        <!-- CTA Area End -->

        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12 col-lg-2">
                    
                </div>
                <div class="col-12 col-lg-8">
                    <div class="single-blog-post bg-img mb-80" style="background-image: url(./img/bg-img/8.jpg);">
                        <!-- Post Content -->
                        <div class="post-content">
                        <h4>Nosotros</h4>
                        <img src="{% static 'img/images_about/about.png' %}" width="10%" height="200"> 
                        <img src="{% static 'img/images_about/project.png' %}" width="10%" height="200">
                        <img src="{% static 'img/images_about/seo.png' %}" width="10%" height="200">
                        <p>{% lorem how_many_paragraphs %}</p>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-2">
                   
                </div>
            </div>

            <div class="row">
                    
                <!-- Single Blog Post -->
                {% if statement_about %}
                {% for about in statement_about %}
                <div class="col-12 col-lg-2">
                    
                </div>
                 <div class="col-12 col-lg-8">
                    <div class="single-blog-post bg-img mb-80" style="background-image: url(./img/bg-img/8.jpg);">
                        <!-- Post Content -->
                        <div class="post-content">
                            <span class="post-date"><span></span></span>
                            <center><a href="#" class="post-title" style="text-aling:center; width: 100%;">{{ about.title }}</a></center>
                            <center><img src="/{{ about.image }}" alt="" style="width:{{ about.width_image }}; height:{{ about.height_image }};" class="btn btn-light"></center>
                            <p style="text-aling:justify all; width: 100%;">{{ about.description }}</p>
                            {% comment %} <a href="#" class="read-more-btn"><i class="arrow_carrot-2right"></i></a> {% endcomment %}
                        </div>
                    </div>
                </div>
                 <div class="col-12 col-lg-2">
                    
                </div>
                {% endfor %}
                {% else %}
                <h1>sobre nosotros</h1>
                {% endif %}

                <!-- Single Blog Post -->
                
            </div>
        </div>
    </section>
    {% endblock seccion6 %}
    {% block seccion7 %}
    {% endblock seccion7 %}
    




