{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock title %}

{% block seccion1 %}
<br><br><br><br><br>
{% endblock seccion1 %}

{% block seccion2 %}
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="background_color:;">
                <br><br><br><br><br>
            </div>
        </div>
    </div>
    {% if statement_about %}
    {% for about in statement_about %}
    <section class="uza-about-us-area">
        <div class="container">
            <div class="row align-items-center">

                <!-- About Thumbnail -->
                <div class="col-12 col-md-6">
                    <div class="about-us-thumbnail mb-80">
                        {% block imgSeccion2 %}<img src="/{{ about.image }}" alt="" style="width:{{ about.width_image }}; height:{{ about.height_image }};" class="btn btn-light">{% endblock imgSeccion2 %}
                        <!-- Video Area -->
                        <div class="uza-video-area hi-icon-effect-8">
                            {% block linkVideo %}{% endblock linkVideo %}
                        </div>
                    </div>
                </div>

                <!-- About Us Content -->
                <div class="col-12 col-md-6">
                    <div class="about-us-content mb-80">
                        {% block titleSeccion2 %}
                            <h2>{{ about.title }}</h2>
                        {% endblock titleSeccion2 %} 
                        {% block paragrafoSeccion2 %}
                        {% endblock paragrafoSeccion2 %}
                        <p class="text-{{ about.text_aling }}" style="width:{{ about.width }}; height:{{ about.height }}; padding:{{ about.padding }}; border:{{ about.border }}; border_radius:{{ about.border_radius }}; font-family:{{ about.font_family }}; font-size:{{ about.font_size }}; background-color:{{ about.background_color }}; color:{{ about.color }};">{{ about.description }}</p>
                        
                    </div>
                </div>
            </div>
        </div>

    </section>
        {% endfor %}
        {% else %}
            <h1>sobre nosotros</h1>
        {% endif %}
{% endblock seccion2 %}


    {% block seccion3 %}

    {% endblock seccion3 %}

    {% block seccion4 %}
    
    {% endblock seccion4 %}
    

    {% block seccion5 %}
    
    {% endblock seccion5 %}

    

    {% block seccion6 %}
    
    {% endblock seccion6 %}
    {% block seccion7 %}
    {% endblock seccion7 %}
    




