{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}freenet º home{% endblock title %}
{% block imgSeccion2 %}<img src="{% static './img/freenet.jpg' %}" alt="">{% endblock imgSeccion2 %}
{% block titleSeccion2 %}<h2>Empresa de Desarrollo de Software.</h2>{% endblock titleSeccion2 %}
{% block paragrafoSeccion2 %}
<p>
    Empresa de Desarrollo de Software a la medida, son optimas condiciones para desarollar tu idea o producto
</p>
	
{% endblock paragrafoSeccion2 %}
{% block linkVideoSeccion2 %}<a href="https://www.youtube.com/watch?v=9Y1oHw2cPxs" autoplay="" class="btn uza-btn btn-2 mt-4">ver Video explicativo</a>{% endblock linkVideoSeccion2 %}

{% block seccion4 %}
    <a name="team"></a>
    <section class="uza-services-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center"><br>
                        <h2 style="font-size:{{ page.font_size }}; font-family:{{ page.font_family_title }}; text_transform:{{ page.text_transform }}; padding:{{ page.padding_text }}; color:{{ page.color_text }}; border:{{ page.border }}; border_radius:{{ page.border_radius }}; text_aling:{{ page.text_aling }}; float:{{ page.float_text }};">{% block title_2 %}{{ page.title_2 }}{% endblock title_2 %}</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Service Area -->


                <!-- Single Service Area -->
                {% if data_team %} {% for team in data_team %}
                <div class="col-12 col-lg-3" style="background-color:{{ team.color_background }}; border-radius:{{ team.border_radius}}; border:{{ team.border }};">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        {% comment %} <a href="/services?id={{ team.id }}"> {% endcomment %}
                            <div class="service-icon">
                                <img src="{{ team.image }}" alt="" style="border-radius:{{ team.border_radius_image }}; padding:20px; margin-top:20px; width:{{ team.width_image }}; height:{{ team.height_image }};">
                            </div>
                            <h5 style="text-transform:{{ team.text_transform }}; color:{{ team.color_text }}; font-size:{{ team.font_size }}; padding:{{ team.padding_text }}; text-aling: {{ team.text_aling }};">{{ team.name }}</h5>
                            <p style="text-transform:{{ team.text_transform }}; color:{{ team.color_text }}; font-size:{{ team.font_size }}; padding:{{ team.padding_text }}; text-aling: {{ team.text_aling }};">{{ team.description }}</p>
                            <p style="color: white;">{{ team.profeccion }}</p>
                        {% comment %} </a> {% endcomment %}
                    </div>
                </div>
                {% endfor %} {% else %}
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_piechart"></i>
                        </div>
                        <h5>No tenemos Team</h5>
                    
                    </div>
                </div>
                {% endif %}



                <!-- Single Service Area -->

            </div>
        </div>
    </section>
    <section class="uza-newsletter-area">
        <div class="container" >
            <div class="row align-items-center justify-content-between">
                <!-- Newsletter Content -->
                <div class="col-12 col-md-12 col-lg-12">
                    <br><br><br><br>
                </div>
        </div>
    </section>
    {% endblock seccion4 %}
{% block seccion5 %}{% endblock seccion5 %}
{% block seccion6 %}{% endblock seccion6 %}
{% block seccion7 %}{% endblock seccion7 %}