{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}freenet º home{% endblock title %}
{% block imgSeccion2 %}<img src="{% static './img/freenet.jpg' %}" alt="">{% endblock imgSeccion2 %}
{% block titleSeccion2 %}<h2>Empresa de Desarrollo de Software.</h2>{% endblock titleSeccion2 %}
{% block paragrafoSeccion2 %}
<p>
    Empresa de Desarrollo de Software a la medida, son optimas condiciones para desarollar tu idea o producto
</p>
{% block linkVideoSeccion2 %}<a href="https://www.youtube.com/watch?v=9Y1oHw2cPxs" autoplay="" class="btn uza-btn btn-2 mt-4">ver Videos explicativo</a>{% endblock linkVideoSeccion2 %}
{% endblock paragrafoSeccion2 %}
