{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Services{% endblock title %}

{% block seccion1 %}
{% endblock seccion1 %}

{% block seccion2 %}
{% endblock seccion2 %}


{% block seccion3 %}
    <section class="uza-services-area section-padding-80-0">
        <div class="container">
            <div class="row">
            
                <!-- Section Heading -->
                <div class="col-12">
                <br><br><br>
                    <div class="section-heading text-center">
                        <h2 style="font-size:{{ page.font_size_service }}; font-family:{{ page.font_family_service }}; color:{{ page.color_text_service }}; background-color:{{ page.background_color_service }}; border:{{ page.border_service }}; border-radius:{{ page.border_radius_service }};">Nuestros Servicios de {{ name }} </h2>
                        <p class="text-{{ page.text_aling_description_service }}" style="font-size:{{ page.font_size_description_service }}; font-family:{{ page.font_family_description_service }}; color:{{ page.color_text_description_service }}; background-color:{{ page.background_color_description_service }}; border:{{ page.border_description_service }}; border-radius:{{ page.border_description_radius_service }};">Nuestros Servicios de {{ name }} </h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Service Area -->


                <!-- Single Service Area -->
                {% if statement_services %}
                {% for services in statement_services %}
                <div class="col-6 col-lg-2" style="background-color: {{ services.color_background }}; border: 1px white solid;"> 
                    <!-- Card -->
                        <a href="/services_details?id={{ services.id }}">
                        

                   
    <div class="hvrbox">
    <br>
        {{ services.name_service|safe }}
        <img src="/{{ services.image_service }}" style="width:{{ services.image_width }}; height:{{ services.image_height }};" alt="Mountains" class="hvrbox-layer_bottom">
        <div class="hvrbox-layer_top">
            <div class="hvrbox-text">{{ services.description_service|safe }}</div>
        </div>
    </div>

                        
                    </a>
        <style>
            .hvrbox * {
                box-sizing: border-box;
            }
            .hvrbox {
                position: relative;
                display: inline-block;
                overflow: hidden;
                max-width: 100%;
                height: auto;
            }
            .hvrbox img {
                max-width: 100%;
            }
            .hvrbox .hvrbox-layer_bottom {
                display: block;
            }
            .hvrbox .hvrbox-layer_top {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                color: #fff;
                padding: 15px;
                -moz-transition: all 0.4s ease-in-out 0s;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -ms-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
            }
            .hvrbox:hover .hvrbox-layer_top,
            .hvrbox.active .hvrbox-layer_top {
                opacity: 1;
            }
            .hvrbox .hvrbox-text {
                text-align: center;
                font-size: 18px;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                -moz-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            .hvrbox .hvrbox-text_mobile {
                font-size: 15px;
                border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
                border-top: 1px solid rgba(179, 179, 179, 0.7);
                margin-top: 5px;
                padding-top: 2px;
                display: none;
            }
            .hvrbox.active .hvrbox-text_mobile {
                display: block;
            }
        </style>
                        
                        </a>
                        <!-- Card -->
                </div>
                {% endfor %}
                {% else %}

                    
            </div>
                
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_piechart"></i>
                        </div>
                        <h5>No hay servicios Relacionados</h5>
                        <p>ahora</p>
                    </div>
                </div>
                {% endif %}





                <!-- Single Service Area -->

            </div>
        </div>
    </section>
    {% endblock seccion3 %}

    {% block seccion4 %}

    {% endblock seccion4 %}
    {% block seccion5 %}

    {% endblock seccion5 %}
    {% block seccion6 %}

    {% endblock seccion6 %}
    {% block seccion7 %}

    {% endblock seccion7 %}