{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}freenet º Services{% endblock title %}

{% block seccion1 %}
{% endblock seccion1 %}

{% block seccion2 %}
{% endblock seccion2 %}


{% block seccion3 %}
    <section class="uza-services-area section-padding-80-0">
        <div class="container">
            <div class="row">
            
                <!-- Section Heading -->
                <div class="col-12">
                <br><br><br>
                    <div class="section-heading text-center">
                        <h2 style="font-size:{{ page.font_size_service }}; font-family:{{ page.font_family_service }}; color:{{ page.color_text_service }}; background-color:{{ page.background_color_service }}; border:{{ page.border_service }}; border-radius:{{ page.border_radius_service }};">Nuestros Servicios de {{ name }} </h2>
                        <p class="text-{{ page.text_aling_description_service }}" style="font-size:{{ page.font_size_description_service }}; font-family:{{ page.font_family_description_service }}; color:{{ page.color_text_description_service }}; background-color:{{ page.background_color_description_service }}; border:{{ page.border_description_service }}; border-radius:{{ page.border_description_radius_service }};">Nuestros Servicios de {{ name }} </h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Service Area -->


                <!-- Single Service Area -->
                {% if statement_services %}
                {% for services in statement_services %}
                <div class="col-6 col-lg-2" style="background-color: {{ services.color_background }}; border: 1px white solid;"> 
                    <!-- Card -->
                        <a href="/services_details?id={{ services.id }}">
                        <div class="">

                            <!-- Card image -->
                            <img src="/{{ services.image_service }}" alt="" width="{{ services.image_width }}" height="{{ services.image_height }}" style="border-radius:10%; padding:20px; margin-top:20px;">

                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="card-title text-center"><a href="/services_details?id={{ services.id }}" style="text-transform: uppercase; color: white;">{{ services.name_service }}</a></h4>
                                <!-- Text -->
                                {% comment %} <p class="card-text">{{ services.description_service }}</p> {% endcomment %}
                                <!-- Button -->
                                {% comment %} <a href="#" class="btn btn-primary">Button</a> {% endcomment %}
                            </div>

                        </div>

                        
                        </a>
                        <!-- Card -->
                </div>
                {% endfor %}
                {% else %}

                    
            </div>
                
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_piechart"></i>
                        </div>
                        <h5>No hay servicios Relacionados</h5>
                        <p>ahora</p>
                    </div>
                </div>
                {% endif %}





                <!-- Single Service Area -->

            </div>
        </div>
    </section>
    {% endblock seccion3 %}

    {% block seccion4 %}

    {% endblock seccion4 %}
    {% block seccion5 %}

    {% endblock seccion5 %}
    {% block seccion6 %}

    {% endblock seccion6 %}
    {% block seccion7 %}

    {% endblock seccion7 %}